@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

.container {
    position: relative;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    overflow: hidden;
}


/* For animation transition */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}


.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
    border: 1px solid rgb(103, 103, 255);
    border-radius: 5px;
    transition: all 0.2s ease;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn:focus {
    transform: translateY(-1px);
}

.btn-filled {
   background-color: rgb(103, 103, 255);
   color: #fff;
}

.btn-filled:hover svg {
    fill: rgb(103, 103, 255);
 }

.btn-filled:hover {
    background-color: #fff;
    color: rgb(103, 103, 255);
 }

.btn-outline {
    color: rgb(103, 103, 255);
}

.btn-outline:hover {
    background-color: rgb(103, 103, 255);
    color: #fff;
}

.btn-outline-reverse {
    border: 1px solid #fff !important;
    color: #fff;
}

.btn-outline-reverse:hover {
    background-color: #fff;
    color: rgb(103, 103, 255);
}

.landing-page {
    min-height: 80vh;
    width: 100%;
    padding: 0 50px;
}

.navigation {
    width: 80%;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0 auto;
    font-family: "Kalam", cursive;
    font-weight: 500;
    font-style: normal;
}

.nav-about {
    animation: move-in-right 0.2s ease-in 2.3s backwards;
}

.nav-skills {
    animation: move-in-right 0.2s ease-in 2.4s backwards;
}

.nav-work{
    animation: move-in-right 0.2s ease-in 2.5s backwards;
} 

.nav-contact {
    animation: move-in-right 0.2s ease-in 2.6s backwards;
}

.navigation div:not(:last-child) {
    margin-right: 30px;
}

.navigation div a {
    position: relative;
    text-decoration: none;
    color: #000;
}

.navigation div a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    transition: all 0.2s;
    background-color: #000;
}

.navigation div a:hover::before {
    width: 100%;
}

.landing-page-content {
    width: 80%;
    margin: 100px auto 0 auto;
    font-size: 35px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.landing-page-content-text-container {
    width: 50%;
}

.landing-page-content-text h5 {
    margin-top: 10px;
    line-height: 1.6;
    font-size: 25px;
    animation: move-in-left 0.5s ease-in 1.3s backwards;
}

.landing-page-content-image-container {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: end;
    animation: move-in-right 0.5s ease-in 1.7s backwards;
}

.landing-page-content-image {
    position: relative;
    height: 600px;
    width: fit-content;
}

.landing-page-content-image img {
    height: 100%;
    border-radius: 27% 73% 31% 69% / 68% 27% 73% 32%;
}

.image-shadow {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 27% 73% 31% 69% / 68% 27% 73% 32%;
    box-shadow: inset #fff 0px 0px 10px 0px;
}

.landing-page-content-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
    animation: move-in-bottom 0.5s ease-in 1.7s backwards;
}

.section {
    min-height: 80vh;
    padding: 100px 50px 75px 50px;
}

@media screen and (max-width: 530px) { 
    .section {
        padding: 100px 30px 75px 30px;
    }
}

.section-transition {
    width: 100%;
    position: relative;
    bottom: -10px;
}

.section-transition-top {
    width: 100%;
    position: relative;
    top: -10px;
}

.section-heading {
    text-align: center;
    font-size: 35px;
    color: #fff;
}

.section-heading-blue {
    color: rgb(103, 103, 255) !important;
}

@keyframes move-in-left {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes move-in-right {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes move-in-bottom {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1650px) {
    .navigation {
        width: 100%;
    }

    .landing-page-content {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .landing-page-content {
        flex-direction: column-reverse;
        margin: 40px auto 0 auto;
    }

    .landing-page-content-image-container {
        width: 100%;
        justify-content: center;
    }

    .landing-page-content-image {
        height: 450px;
    }

    .landing-page-content-text-container {
        width: 100%;
        margin: 50px 0;
    }

    .landing-page-content-image-container {
        animation: move-in-right 0.5s ease-in 0.7s backwards;
    }

    .nav-about {
        animation: move-in-right 0.2s ease-in 1.3s backwards;
    }
    
    .nav-skills {
        animation: move-in-right 0.2s ease-in 1.4s backwards;
    }
    
    .nav-work{
        animation: move-in-right 0.2s ease-in 1.5s backwards;
    } 
    
    .nav-contact {
        animation: move-in-right 0.2s ease-in 1.6s backwards;
    }
}

@media screen and (max-width: 800px) { 
    .container {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}

@media screen and (max-width: 555px) { 
    .navigation div:not(:last-child) {
        margin-right: 0;
    }

    .navigation {
        justify-content: space-around
    } 

    .landing-page {
        padding: 30px;
    }

    .landing-page-content-image {
        height: 300px;
    }
}

@media screen and (max-width: 412px) { 
    .btn {
        font-size: 18px;
        padding: 10px 25px;
    }

    .landing-page-content-text h2 {
        font-size: 35px;
    }

    .landing-page-content-text h5 {
        font-size: 22px;
    }
}

@media screen and (max-width: 370px) {
    .landing-page-content-buttons a {
        font-size: 16px;
        padding: 10px 15px;
    }
}

/**  ABOUT ME */
.about-me {
    background-color: rgb(103, 103, 255);
}

.about-me-container {
    position: relative;
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.about-me-text-container {
    width: 50%;
}

.about-me-text-container {
    color: #fff;
}

.about-me-text-container h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.about-me-text-container h3:not(:first-child) {
    margin-top: 30px;
}


.about-me-image-container {
    position: relative;
    width: 50%;
    text-align: center;
}

.about-me-image-container img {
    width: 100%;
    max-width: 500px;
    border-radius: 30% 70% 37% 63% / 64% 17% 90% 36%;
}


@media screen and (max-width: 1500px) {
    .about-me-container {
        width: 100%;
    }
}

@media screen and (max-width: 1140px) {
    .about-me-container {
        flex-direction: column;
    }
    
    .about-me-text-container {
        width: 100%;
        max-width: 750px;
    }
    
    .about-me-image-container {
        margin-top: 50px;
        width: 100%;
    }
}


/**  SKILLS */
.skills-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    padding: 50px 0;
    justify-content: center;
}

.skill {
    width: 100%;
    max-width: 350px;
    height: 450px;
    background-color: #fff;
    box-shadow: #0000005c 2px 2px 6px 0px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.skill-image img {
    height: 60px;
}

.skill-heading {
    font-size: 22px;
    margin-top: 20px;
}

.skill-description {
    margin-top: 30px;
    font-size: 17px;
    line-height: 1.3;
}

.skill-level {
    display: block;
    margin-top: 20px;
}

@media screen and (max-width: 1220px) { 
    .skills-container {
        width: 100%;
    }
}

@media screen and (max-width: 430px) { 
    .skill { 
        padding: 30px;    
    }

    .skill-heading {
        font-size: 20px;
    }
    
    .skill-description {
        font-size: 16px;
    }
}


/**  WORK */
.work {
    background-color: rgb(103, 103, 255);
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 150px;
    width: 100%;
    padding: 50px 0;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}

.project-reverse {
    flex-direction: row-reverse !important;
}

.project-images {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.project-images img {
    width: 45%;
    max-height: 300px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
    transition: all 0.3s ease;
}

.project-images img:hover {
    z-index: 3;
    transform: scale(1.2);
}

.project-images img:nth-child(1) {
    left: 3rem;
    top: 2rem;
}

.project-images img:nth-child(2) {
    right: 4rem;
    top: 6rem;
    z-index: 2;
}

.project-images img:nth-child(3) {
    left: 20%;
    top: 11rem;
}

.project-description {
    width: 50%;
}

.project-description h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
}

.project-description h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
}

.project-description a {
    margin-top: 30px;
}

@media screen and (max-width: 1700px) { 
    .project {
        width: 100%;
    }  
}

@media screen and (max-width: 1450px) { 
    .project {
        flex-direction: column-reverse;
    }  

    .project-reverse {
        flex-direction: column-reverse !important;
    }

    .project-images {
        width: 100%;
        max-width: 800px;
        margin-top: 30px;
    }

    .project-description {
        width: 80%;
    }
}

@media screen and (max-width: 720px) { 
    .project-container {
        gap: 0px;
    }

    .project-description {
        width: 100%;
    }

    .project-images {
        margin-top: 80px;
    }

    .project-images img {
        max-height: 170px;
    }
    
    .project-images img:nth-child(1) {
        left: 4rem;
        top: -2rem;
    }
    
    .project-images img:nth-child(2) {
        right: 4rem;
        top: 2rem;
    }
    
    .project-images img:nth-child(3) {
        left: 25%;
        top: 6rem;
    }
}

@media screen and (max-width: 650px) {  
    .project-images {
        min-height: 300px;
    }

    .project-images img {
        width: 50%;
        max-height: 150px;
    }

    .project-images img:nth-child(1) {
        left: 1rem;
        top: -2rem;
    }
    
    .project-images img:nth-child(2) {
        right: 3rem;
        top: 0rem;
    }
    
    .project-images img:nth-child(3) {
        left: 15%;
        top: 4rem;
    }
}

@media screen and (max-width: 530px) {
    .project-images {
        margin-top: 20px;
    }

    .project-images img {
        width: 55%;
        max-width: 200px;
        max-height: 120px;
    }

    .project-images img:nth-child(1) {
        left: 2rem;
        top: 0rem;
    }
    
    .project-images img:nth-child(2) {
        right: 2rem;
        top: 2rem;
        z-index: 2;
    }
}

@media screen and (max-width: 480px) {
    .project-images img {
        width: 55%;
        max-width: 200px;
        max-height: 120px;
    }

    .project-images img:nth-child(1) {
        left: 1rem;
        top: 0rem;
    }
    
    .project-images img:nth-child(2) {
        right: 1rem;
        top: 2rem;
    }
    .project-images img:nth-child(3) {
        left: 20%;
    }
}

/**  CONTACT */
.contact-form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
}

.contact-image-container {
    width: 50%;
    text-align: end;
}

.contact-image-container img {
    width: 100%;
    max-width: 500px;
}


.contact-form form {
    width: 50%;
}

.form-input {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    gap: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 40px;
}

.form-submit-container {
    position: relative;
    display: flex;
    justify-content: start;
    max-width: 500px;
    width: 100%;
}

.form-input.error {
    border-bottom: 1px solid red;
}


.form-input label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: gray;
    pointer-events: none;
    transition: all 0.3s ease;
}

.form-input.error label {
    color: red !important;
}

.form-input input {
    border: none;
    font-size: 18px;
    padding: 10px 0;
    width: 93%;
}

.form-input input:focus {
    outline: none;
}

.form-input input:focus ~ label,
.form-input input:valid ~ label {
    transform: translateY(-25px);
    color: rgb(103, 103, 255);
}

.underline {
    position: absolute;
    content: "";
    background-color: rgb(103, 103, 255);
    width: 0%;
    height: 1px;
    bottom: -1px;
    left: 0;
    transition: all 0.1s;
    z-index: 5;
}

.form-input.error .underline {
    background-color: red !important;
}

.form-input input:focus ~ .underline,
.form-input input:valid ~ .underline {
    width: 100%;
}

.input-icon {
    position: absolute;
    right: 0;
    bottom: 10px;
    height: 25px;
    width: 25px;
    background-color: #fff;
    box-shadow: #fff -5px 0px 4px 1px;
}

.form-input.error .input-icon {
    fill: red !important;
}

.form-input input:focus ~ .input-icon,
.form-input input:valid ~ .input-icon {
    fill: rgb(103, 103, 255);
}

.form-input textarea {
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding: 20px 0 10px 0;
    width: 93%;
    resize: none;
    transition: all 0.2s ease;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow-y: scroll;
}

.form-input textarea::-webkit-scrollbar {
    display: none;
}
  
.form-input textarea:focus,
.form-input textarea:valid {
    outline: none;
    height: 200px;
}


.form-input textarea:focus ~ label,
.form-input textarea:valid ~ label {
    transform: translateY(-175px);
    color: rgb(103, 103, 255);
    z-index: 20;
    background-color: #fff;
    box-shadow: #fff 5px 0 5px 8px;
    width: 100%;
}

.form-input textarea:focus ~ .underline,
.form-input textarea:valid ~ .underline {
    width: 100%;
}

.form-input textarea:focus ~ .input-icon,
.form-input textarea:valid ~ .input-icon {
    fill: rgb(103, 103, 255);
}

.form-error {
    position: absolute;
    bottom: -30px;
}

.form-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.form-submit svg {
    width: 22px;
    height: 22px;
    transition: all 0.3s ease-in-out;
    fill: #fff;
}

.paperplane-flying {
    animation: flyOut 2s ease-in-out;
}

#form-response {
    font-size: 15px;
    margin-top: 10px;
}

#form-response.form-response-success {
    color: green;
}

#form-response.form-response-error {
    color: red;
}


@keyframes flyOut {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    10% {
        opacity: 0;
        transform: translate(40px, -50px);
    }

    80% {
        opacity: 0;
        transform: translate(-40px, 50px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}


@media screen and (max-width: 1140px) { 
    .contact-form {
        flex-direction: column;
    }

    .contact-image-container {
        width: 100%;
        text-align: center;
    }
    
    .contact-form form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-input {
        max-width: 600px;
    }

    .form-submit-container {
        max-width: 600px;
    }
}

/** FOOTER */
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.footer-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-heart {
    width: 26px;
    height: 26px;
    margin: 0 10px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-media a svg {
    width: 35px;
    height: 35px;
    fill: #252525;
}

#tooltip {
    position: relative;
    cursor: pointer;
}
  
#tooltip-text {
    visibility: hidden;
    width: 70px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    right: -60px;
    top: -11px;
  }
  
  #tooltip:hover #tooltip-text {
    visibility: visible;
  }