/**  Header Homepage  **/

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(to right bottom, rgba(117, 211, 117, .8), rgba(117, 211, 117, .8)), url(../images/bg.png);
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.header-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.header-heading {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-heading-main {
    display: block;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 5px;
    animation: move-in-left 0.7s ease-in-out;
}

.header-heading-sub {
    display: block;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 15px;
    animation: move-in-right 0.7s ease-in-out;
}

@media (max-width: 812px) {
    .header-heading-main {
        font-size: 50px;
        letter-spacing: 0px;
    }
    .header-heading-sub {
        font-size: 40px;
        letter-spacing: 5px;
    }
}

@media (max-width: 486px) {
    .header-heading-main {
        font-size: 40px;
    }
    .header-heading-sub {
        font-size: 30px;
    }
}

@media (max-width: 364px) {
    .header-heading-main {
        font-size: 30px;
    }
    .header-heading-sub {
        font-size: 20px;
    }
}

.header-button {
    width: 10rem;
    height: 2.5rem;
    border: none;
    border-radius: 2.5px;
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: stretch;
    transition: .5s .65s;
    margin-right: 2.5rem;
    cursor: pointer;
    animation: move-in-bottom .5s ease-in-out .5s;
}

.header-button .arrow {
    margin-top: .15rem;
    font-size: 1.5rem;
    transition: .3s;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-button h2 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: 1rem;
}

.header-button:hover {
    width: 12rem;
    transition: .5s;
}

.arrow ion-icon {
    margin-left: -.5rem;
    margin-right: .5rem;
}

.arrow-line {
    width: 0vw;
    height: .15rem;
    background-color: #fff;
    border-radius: 10rem;
    transition: .4s .3s;
    margin-top: .65rem;
    margin-right: auto;
}

.header-button:hover .arrow-line {
    width: 20px;
}

@keyframes move-in-left {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }
    80% {
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes move-in-right {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes move-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(250px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/**  Header Homepage End  **/


/**  About us Homepage  **/

#about-us-anchor {
    position: absolute;
    top: 80%;
}

.about-us {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 700px;
}

.about-us-heading {
    margin: -30px 0 40px 0;
}

.about-us-box {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.about-us-text-box {
    width: 60%;
}

.about-us-sub-heading {
    margin-bottom: 20px;
}

.about-us-sub {
    font-size: 16px;
}

.about-us-sub:not(:last-child) {
    margin-bottom: 30px;
}

.about-us-image {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 40%;
    transition: transform .3s;
}

.about-us-image:hover {
    transform: translateY(-5px) scale(1.02);
}

.about-us-button {
    margin-top: 20px;
}

@media (max-width: 1600px) {
    .about-us-box {
        width: 70%;
    }
}

@media (max-width: 1030px) {
    .about-us-box {
        width: 90%;
    }
}

@media (max-width: 830px) {
    .about-us {
        margin: 80px 0;
    }
    .about-us-box {
        flex-direction: column-reverse;
        text-align: center;
    }
    .about-us-image {
        justify-content: center;
        margin: 0 0 60px 0;
    }
    .about-us-heading {
        margin-bottom: 20px;
    }
    #community {
        margin-top: -30px;
    }
}

@media (max-width: 650px) {
    #about-us-heading {
        font-size: 40px;
    }
}

@media (max-width: 530px) {
    #about-us-heading {
        font-size: 30px;
    }
}

@media (max-width: 412px) {
    #about-us-heading {
        font-size: 25px;
        font-weight: 700;
    }
    .about-us-image {
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .about-us-image img {
        height: 180px;
    }
    .about-us-text-box {
        width: 90%;
    }
}

@media (max-width: 312px) {
    #about-us-heading {
        font-size: 18px;
    }
}

.community {
    position: relative;
    background-image: linear-gradient(to right bottom, rgba(117, 211, 117, .8), rgba(117, 211, 117, .8)), url(../images/BuildFFA3.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 17.5%, 100% 0, 100% 100%, 0% 100%);
    margin-top: -60px;
}

.community-box {
    width: 100%;
    height: 100%;
    padding: 250px 0 150px 0;
    text-align: center;
}

.community-heading {
    margin-bottom: 40px;
}

.community-item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.community-item {
    position: relative;
    background-color: rgba(255, 255, 255, .8);
    font-size: 16px;
    padding: 25px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 7px 4px rgba(0, 0, 0, .15);
    margin: 20px 20px;
    width: 20%;
    height: 400px;
    width: 400px;
    transition: transform .3s;
}

.community-item:hover {
    transform: translateY(-5px) scale(1.02);
}

#community-image {
    height: 150px;
    margin-bottom: 5px;
}

.community-item-heading {
    margin-bottom: 10px;
}

.community-button {
    position: absolute;
    bottom: 20px;
    right: 25px;
}

@media (max-width: 1300px) {
    .community-item-box {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .community {
        clip-path: polygon(0 8.5%, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (max-height: 666px) {
    .community {
        clip-path: polygon(0 6.34%, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (max-width: 555px) {
    #community-heading {
        font-size: 40px;
    }
}

@media (max-height: 540px) {
    .community {
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (max-height: 460px) {
    .community {
        clip-path: polygon(0 4.3%, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (max-width: 430px) {
    .community-box {
        padding-top: 200px;
    }
    #community-heading {
        font-size: 30px;
    }
    .community-item {
        width: 95%;
    }
}

@media (max-height: 390px) {
    .community {
        clip-path: polygon(0 3.5%, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (max-width: 340px) {
    #community-image {
        height: 110px;
    }
    #community-heading {
        font-size: 25px;
        font-weight: 700;
    }
}

@media (max-width: 275px) {
    #community-heading {
        font-size: 20px;
    }
}