body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(117, 211, 117, .8), rgba(117, 211, 117, .8)), url(../images/bg.png);
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-grey);
}

.overview {
    width: 20%;
    height: 100vh;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    padding-top: 120px;
    text-align: center;
}

.overview ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview ul li {
    font-size: 20px;
    margin-bottom: 20px;
    width: 75%;
    text-align: start;
    cursor: pointer;
    padding: 5px 10px;
}

.overview ul li a {
    text-decoration: none;
    color: var(--primary-grey);
}

.overview ul li.active {
    background-color: #dbdbdb;
    border-radius: 6px;
}

#support-nav-icon {
    margin-right: 10px;
}

.support-section {
    height: 100vh;
    padding-top: 120px;
    width: 90%;
}

.support-content {
    padding: 0 100px;
}

/* Create Ticket Section */ 

.create-ticket-heading h2{
    font-size: 50px;
}

.create-ticket-text p {
    font-size: 20px;
}

.create-ticket-composition {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.create-ticket-image img {
    height: 570px;
    margin-top: 30px;
}

.create-ticket {
    text-decoration: none;
    background-color: var(--primary-green);
    display: block;
    color: #fff;
    font-size: 30px;
    padding: 20px 30px;
    border-radius: 10px;
    margin-left: 100px;
    box-shadow: 4px 7px 30px #8db78d;
    margin-top: -200px;
}

.create-ticket i {
    margin-right: 10px;
}