.team {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards {
    margin-top: 7.5rem;
    display: flex;
    justify-content: center;
    width: 75rem;
}

.slide {
    width: 75rem;
    background: none;
    border: solid 1.5px rgb(119, 119, 119);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.tab {
    margin: 5px;
    border-radius: 50px;
    width: 15rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-team {
    background-color: brown;
    transition: .4s;
}

.active-team .logo-team ion-icon {
    color: #fff;
}

.logo-team ion-icon {
    transform: scale(3);
    color: rgb(119, 119, 119);
}

.card {
    margin-top: -7.5rem;
    width: 75rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.visible {
    display: block;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(41, 41, 41);
    width: 12rem;
    height: 6.5rem;
    border-radius: 10px;
    margin-right: 1.5rem;
    transition: .3s;
}

.item:hover {
    height: 8rem;
}

.item:hover .rank {
    margin-top: -1.5rem;
}

.item:hover .social-media {
    display: block;
}

.headline {
    font-size: 3rem;
    color: #fff;
}

.name {
    color: #fff;
    margin-top: .5rem;
    margin-bottom: .25rem;
}

.img-team {
    width: 75px;
    border-radius: 10px;
    margin-top: -1.5rem;
}

.rank {
    background-color: brown;
    color: #fff;
    width: 100px;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.social-media ion-icon {
    color: #fff;
    margin-bottom: 1.5rem;
}

.social-media {
    display: none;
}

@media (max-width: 1400px) {
    .slide,
    .cards {
        width: 75%;
        max-height: 20%;
    }
    .items {
        flex-direction: column;
    }
    .item {
        margin-bottom: 4rem;
        width: 75%;
    }
}

@media (max-width: 750px) {
    .slide {
        width: 90%;
    }
    .slide {
        border: none;
    }
    .logo {
        transform: scale(.75);
    }
    .active-team {
        height: 3rem;
    }
}